<table>
	<% 
	   search_condition = "%" + params[:q] + "%"
       @games = Game.find(:all, :conditions => ['name ILIKE ?', search_condition])
    %>
    <% if @games.any? %>
       <% @games.sort! { |a,b| a.name.downcase <=> b.name.downcase } %>
	    <% @games.each do |game| %>
	    <tr>
			<td><%= link_to "#{game.name}", gpage_path(:param1 => game) %></td>
			<td>
				<% if !current_user.nil? %>
				  <% @check = Collections.find(:all, :conditions => {:user_id => current_user.id, :name => game.name}) %>
				  <% if @check.empty? %>
				    <%= link_to "Add", collections_path(:param1 => game, :q => params[:q]), :post => true %>
				  <% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
	<% else %>
		<%= @notice = "No Matches Found." %>
	<% end %>
</table>